<div ...attributes>
  <Auk::Label for="contact-status">
    {{@label}}
  </Auk::Label>
  <Auk::RadioList as |list|>
    {{#each this.statuses as |status|}}
      <list.Radio
        @label={{capitalize status.label}}
        @checked={{eq @value status}}
        {{on "change" (fn @onChange status)}}
      />
    {{/each}}
  </Auk::RadioList>
</div>