<div class="auk-o-flex auk-o-flex--vertical">
  {{#each this.publicationChannels as |publicationChannel|}}
  <div class="auk-o-flex auk-o-flex--horizontal">
    <Input
      @type="checkbox"
      checked={{includes publicationChannel this.pressReleasePublicationChannels}}
      {{on "change" (fn this.togglePublicationChannel publicationChannel)}}
      /> {{publicationChannel.name}}
  </div>
  {{/each}}
</div>