<div class="auk-o-flex auk-o-flex--vertical">
  {{#each this.publicationChannels as |publicationChannel|}}
  <Auk::CheckboxList>
    <Auk::Checkbox
      @type="checkbox"
      @checked={{includes publicationChannel @publicationChannels}}
      @disabled={{if (and (eq publicationChannel this.websiteFlandersBe) this.isDisabledWebsiteFlandersBeChannel) true}}
      @label={{publicationChannel.name}}
      {{on "change" (fn this.updateSelectedPublicationChannels publicationChannel)}}
      />
  </Auk::CheckboxList>
  {{/each}}
</div>