<div class="auk-o-flex auk-o-flex--vertical">
  {{#each this.publicationChannels as |publicationChannel|}}
  <div class="auk-o-flex auk-o-flex--horizontal">
    <Input
      @type="checkbox"
      {{!-- checked={{includes channel.uri medium.value.publicationChannels}} --}}
      {{!-- {{on "change" (fn this.togglePublicationChannel channel medium.value)}} --}}
      /> {{publicationChannel.name}}
  </div>
  {{/each}}
</div>