<table class="auk-table">
  <thead>
    <th>Publicatiekanaal</th>
    {{#each this.mediums as |medium|}}
      <th>Toon {{medium.label}}</th>
    {{/each}}
  </thead>
  <tbody>
  {{#each this.publicationChannels as |channel index|}}
    <tr>
      <td>
        {{channel.name}}
      </td>
      {{#each this.mediums as |medium|}}
        <td class="auk-u-text-align--center">
          <Input
            @type="checkbox"
            checked={{includes channel.uri medium.value.publicationChannels}}
            {{on "change" (fn this.togglePublicationChannel channel medium.value)}}/>
        </td>
      {{/each}}
    </tr>
  {{/each}}
  </tbody>
</table>