<div class="auk-o-grid">
  {{#each this.themes as |theme|}}
  <Auk::CheckboxList class="auk-o-grid-col-4 auk-o-grid-col-static">
    <Auk::Checkbox
      @type="checkbox"
      @checked={{includes theme @selectedThemes}}
      @label={{theme.label}}
      {{on "change" (fn this.updateSelectedThemes theme)}}
      />
  </Auk::CheckboxList>
  {{/each}}
</div>