@import "ember-data-table";
@import "ember-power-select";

@import '_colors';
@import 'govflanders/core/_setting.scss';
@import 'govflanders/core/_tool.scss';
@import 'govflanders/core/_generic.scss';
@import 'govflanders/core/_object.scss';

/* sourced from 'au-kaleidos-css' */
@import '_s-colors';
@import "auk-standalone";
@import "./au-kaleidos-css/auk-procedure-step";

/* application-specific overrides */
@import 'custom-application/power-select';
@import 'custom-application/input-pills';
@import 'custom-application/toast';

.auk-avatar-and-text {
  align-items: start;
}

.auk-u-text-green {
  color: $au-green-500;
}

.historic-timeline {
  margin-left: -2rem;
}

.auk-procedure-step:hover {
  background-color: unset;
}

.modal-with-dropdown {
  min-height: 26rem;
}
