// EXTERNAL COMPONENTS
@import 'ember-power-select';

// AUK BASE
@import 'auk-base'; // sourced from "au-kaleidos-css" npm package

// AUK ICONS STYLING
@import 'auk-icons'; // sourced from "au-kaleidos-icons" npm package

// AU STYLING
@import 'au/au-base';
@import 'au/au-components';

// AUK COMPONENTS
@import 'auk-components'; // sourced from "au-kaleidos-css" npm package

// LOCAL AUK EXTENSIONS & ADDITIONS
@import 'auk/auk-additions';

/* sourced from 'au-kaleidos-css' */
//@import "./au-kaleidos-css/auk-procedure-step";

// CUSTOM STYLING
@import 'custom-application/toast';

// EXTERNAL ADDON OVERRIDES
@import 'addon-overrides/ember-data-table';
@import 'addon-overrides/ember-flatpickr';
@import 'addon-overrides/ember-power-select';
@import 'addon-overrides/ember-tag-input';
@import 'addon-overrides/ember-tooltip';

.auk-avatar-and-text {
  align-items: start;
}

.auk-u-text-green {
  color: $au-green-500;
}

.historic-timeline {
  margin-left: -2rem;
}

.auk-procedure-step:hover {
  background-color: unset;
}
