<WebComponents::AuModal>
  <div class="full-screen-container">
    <div class="modal-container new-press-release-modal">
      <div class="modal-header flex-spacebetween ">
        <h1>Nieuw persbericht</h1>
        <WebComponents::AuButton @skin="borderless" {{ on 'click' @closePressReleaseModal}}>
          <WebComponents::AuIcon class="margin-right-small" @name="close"/>
        </WebComponents::AuButton>
      </div>
      <hr/>
      <div class="input-title">
        <InputField::InputWithLabel
          id="title"
          @label="Geef een titel aan uw persbericht"
          @onInput={{@onInput}}
        />
      </div>
      <hr/>
      <div class="button-container">
        <WebComponents::AuButton @skin="borderless" {{ on 'click' @closePressReleaseModal}}>
          Annuleren
        </WebComponents::AuButton>
        <WebComponents::AuButton @skin="primary" {{ on 'click' @createPressRelease}}>
          Persbericht aanmaken
        </WebComponents::AuButton>
      </div>
    </div>
  </div>
</WebComponents::AuModal>