<div class="auk-procedure-step">
    <div class="auk-procedure-step__badge-wrapper">
        <div class="auk-badge auk-badge--success auk-badge--small">
            <div class="auk-icon auk-icon--default auk-icon--small">
                <i class="ki ki-check"></i>
            </div>
        </div>
    </div>
    <div class="auk-procedure-step__content">
        <h3 class="auk-procedure-step__title">{{this.CONFIG.PUBLICATION_CHANNEL.MAILING_LIST}}</h3>
        <p class="auk-procedure-step__meta">Door {{@activity.creator.fullName}} {{dayjs-format @activity.startDate outputFormat="[op] DD-MM-YYYY"}}</p>
    </div>
</div>