{{page-title "Active"}}
<PageTitleComponent>
  <h2>Bronnen</h2>
  <WebComponents::AuButton @skin="primary" {{ on 'click' this.navigateToNewSource}}>
    <WebComponents::AuIcon
      @name='add'
      @size='small'
      class="margin-right-small"
    />
      Bron Aanmaken
    </WebComponents::AuButton>
</PageTitleComponent>
{{outlet}}