<PageTitleComponent>
  <div class="title-indentification">
    <LinkTo @route="sources.overview.active">
      <WebComponents::AuIcon
        @name="chevron-left"
        @size="large"
        @iconSkinColor="primary"
        class="margin-right-small"
      />
    </LinkTo>
    <div>
      <h2 class="auk-u-muted">Bronnen</h2>
      <h1 class="auk-toolbar-complex__title">Nieuwe bron aanmaken</h1>
    </div>
  </div>
  <WebComponents::AuButton @skin="primary" {{on "click" (perform this.saveSource)}}>
    Bron aanmaken
  </WebComponents::AuButton>
</PageTitleComponent>

<Contact::Form @source={{this.model}} />