{{page-title "Overzicht"}}

<PageTitleComponent id="contact-page-title">
  <div>
    <h2>Bronnen</h2>
    <WebComponents::AuNavbar @border="" @auto="true" @skin="gray-100">
      <WebComponents::AuToolbar class="header-toolbar">
        <WebComponents::AuToolbar::Group @position="left">
          <div class="main-header-container">
            <WebComponents::AuToolbar::Item>
              <WebComponents::AuTabs>
                <WebComponents::AuTab class="nav-component" @route="sources.overview.active">Actief</WebComponents::AuTab>
                <WebComponents::AuTab class="nav-component" @route="sources.overview.inactive">Inactief</WebComponents::AuTab>
              </WebComponents::AuTabs>
            </WebComponents::AuToolbar::Item>
          </div>
        </WebComponents::AuToolbar::Group>
      </WebComponents::AuToolbar>
    </WebComponents::AuNavbar>
  </div>
  <WebComponents::AuButton @skin="primary" {{ on 'click' this.navigateToNewSource}}>
    <WebComponents::AuIcon
      @name='add'
      @size='small'
      class="margin-right-small"
    />
    Bron aanmaken
  </WebComponents::AuButton>
</PageTitleComponent>
