<PageTitleComponent>
  <div>
    <LinkTo @route="sources.overview.active">
      <WebComponents::AuIcon
        @name="chevron-left"
        @size="large"
        @iconSkinColor="primary"
        class="margin-right-small"
      />
    </LinkTo>
    <div>
      <h2 class="auk-u-muted">Bronnen</h2>
      <h1 class="auk-toolbar-complex__title">{{this.model.fullName}}</h1>
    </div>
  </div>
  <div>
    <WebComponents::AuButton @skin="primary" {{on "click" (perform this.saveSource)}}>
        Opslaan
    </WebComponents::AuButton>
  </div>
</PageTitleComponent>

<Contact::Form @source={{this.model}} />