{{page-title "Verzendlijsten"}}

<div class="auk-u-m-8">
  <Auk::Toolbar @size="large">
    <Auk::Toolbar::Group  @position="left">
      <Auk::Toolbar::Item>
        <h1 class="auk-h1">Verzendlijsten</h1>
      </Auk::Toolbar::Item>
    </Auk::Toolbar::Group>
  </Auk::Toolbar>
</div>

{{outlet}}