<Auk::Navbar @skin="gray-100" @size="large">
  <Auk::Toolbar as |Toolbar|>
    <Toolbar.Group @position="left" as |Group|>
      <Group.Item>
        <Auk::Button
          @layout="icon-only"
          @skin="borderless"
          @icon="chevron-left"
          @size="large"
          @route="press-releases.overview.published"
        />
      </Group.Item>
      <Group.Item>
        <div class="auk-overline auk-u-block auk-u-text-muted">
          Persberichten
        </div>
        <h2 class="auk-toolbar__title">
          {{this.model.title}}
          <Auk::Pill class="auk-u-ml">
            Gepubliceerd op {{dayjs-format this.model.publicationEvent.plannedStartDate outputFormat="DD-MM-YYYY [om] HH:mm"}}
          </Auk::Pill>
        </h2>
      </Group.Item>
    </Toolbar.Group>
  </Auk::Toolbar>
</Auk::Navbar>

<PressRelease::ReadOnly @pressRelease={{this.model}} />

{{outlet}}
