{{#unless this.loadApprovalActivity.isRunning}}
  {{#if this.approvalActivity}}
    <div class="auk-u-text-small auk-u-text-green">
      Goedgekeurd
    </div>
  {{else}}
    <div class="auk-u-text-small auk-u-muted">
      Nog niet goedgekeurd
    </div>
  {{/if}}
{{/unless}}