<Auk::Modal>
  <Auk::Modal::Header
    @title="Bent u zeker dat u het co-editeren wil stoppen?"
    @closeable={{false}}
  />
  <Auk::Modal::Body>
    <p>
      Het persbericht is nog niet door alle deelnemers goedgekeurd. Bent u zeker dat u het co-editeren wil stoppen?
    </p>
  </Auk::Modal::Body>
  <Auk::Modal::Footer @onCancel={{@onCancel}}>
    <Auk::Button
      @skin="primary"
      @loading={{@loading}}
      {{on "click" @onConfirm}}
    >
      Stoppen
    </Auk::Button>
  </Auk::Modal::Footer>
</Auk::Modal>
