{{page-title "Contacts"}}
<PageTitleComponent>
  <h2>Contacten</h2>
</PageTitleComponent>
{{outlet}}
<InputField::ResourceInfoPublicationChannels
  @publicationChannels={{publicationChannels}}
  @onChange={{onPublicationChannelChange}}
/>