{{page-title "Contacts"}}
<PageTitleComponent>
  <h2>Contacten</h2>
</PageTitleComponent>
{{outlet}}
<div class="form-container">
  <InputField::ResourceInfoPublicationChannels
    @onInput={{action "onPublicationChannelChange"}}
  />
</div>
