<div class="auk-u-maximize-height auk-scroll-wrapper auk-u-scroll-no-overflow">
  <div class="auk-u-maximize-width auk-u-maximize-height u-padding--left--large u-padding--right--large auk-o-flex auk-o-flex--center">
    <div class="auk-container--small">
      <h1 class="auk-h1 u-spacer--tiny u-padding--bottom--large">Vlivia</h1>
      <h3 class="auk-h3 auk-u-text-normal u-padding--bottom--large">
        Een webapplicatie voor het opstellen van persberichten
      </h3>
      <div>
        <p class="auk-u-my-4">
          De organizatie waarvoor u probeert in te loggen ({{this.currentSession.group.identifier}}) is niet gekend in de applicatie.<br>
          Neem contact op met de applicatie beheerder.
        </p>
      </div>
    </div>
  </div>
</div>